/*
 * Agility Design made by Mads T. Kristiansen, 2019.
 *
 * This file is part of Agility Design.
 *
 * Agility Design is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published
 * by the Free Software Foundation; either version 2 of the License,
 * or (at your option) any later version.
 *
 * Agility Design is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Agility Design. If not, see <http://www.gnu.org/licenses/>.
*/

/*
	Billboard
 */

.billboard {
	width: 100%;
	padding: 1rem;
	background-color: var(--colors-white);
	background-size: cover;
}

@media (min-width:576px) {
	.billboard {
		padding: 2rem;
	}
}

@media (min-width:776px) {
	.billboard {
		padding: 3.5rem;
	}
}

@media (min-width:992px) {
	.billboard {
		padding: 5rem;
	}
}

/*
	Communication Blocks
 */

.communication-content-small,
.communication-content-medium,
.communication-content-large {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

.communication-block {
	width: 100%;
	height: 100%;
	display: table;
}

.communication-block-center {
	display: flex;
	align-items: center;
}

.block-shadow {
	box-shadow: 2px 0px 5px var(--colors-black);
}

/* Communication block sizes */

@media (min-width:576px) {
	.communication-content-small {
		display: flex;
	}
	
	.communication-content-small .communication-block {
		width: 50%;
		min-height: 100%;
	}
}

@media (min-width:766px) {
	.communication-content-medium {
		display: flex;
	}

	.communication-block-medium .communication-block {
		width: 50%;
		min-height: 100%;
	}
}

@media (min-width:966px) {
	.communication-content-large {
		display: flex;
	}

	.communication-block-large .communication-block {
		width: 50%;
		min-height: 100%;
	}
}