/*
 * Agility Design made by Mads T. Kristiansen, 2019.
 *
 * This file is part of Agility Design.
 *
 * Agility Design is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published
 * by the Free Software Foundation; either version 2 of the License,
 * or (at your option) any later version.
 *
 * Agility Design is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Agility Design. If not, see <http://www.gnu.org/licenses/>.
*/

body {
	font-family: var(--main-font);
	color: var(--default-text-color);
}

p {
	margin-top: 0px;
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.2;
}

a {
	text-decoration: none !important;
	color: var(--colors-blue);
}

a:hover {
	color: var(--colors-dark-blue);
}

p:last-child {
	margin-bottom: 0;
}

.subtext {
	font-size: 14px;
	font-style: italic;
	line-height: 1;
	color: var(--subtext-foreground);
}

/* Headings, titles and displays */

.title {
	font-size: 42px;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	color: var(--title-foreground);
}

.subtitle {
	color: var(--subtitle-foreground);

	font-size: 32px;
	line-height: 1.4;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.25em;
	margin-bottom: 0.5em;
}

h1 { font-size: 32px; color: var(--heading1-foreground); }
h2 { font-size: 28px; color: var(--heading2-foreground); }
h3 { font-size: 24px; color: var(--heading3-foreground); }
h4 { font-size: 22px; color: var(--heading4-foreground); }
h5 { font-size: 18px; color: var(--heading5-foreground); }
h6 { font-size: 16px; color: var(--heading6-foreground); }

div[class *= "grid-"] h1, div.panel h1,
div[class *= "grid-"] h2, div.panel h2,
div[class *= "grid-"] h3, div.panel h3,
div[class *= "grid-"] h4, div.panel h4,
div[class *= "grid-"] h5, div.panel h5,
div[class *= "grid-"] h6, div.panel h6 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

@media (min-width: 992px) {
	.title { font-size: 48px; }
	.subtitle { font-size: 38px; }
	h1 { font-size: 48px; }
	h2 { font-size: 40px; }
	h3 { font-size: 31px; }
	h4 { font-size: 25px; }
	h5 { font-size: 20px; }
	h6 { font-size: 16px; }
}

.display1, .display2, .display3, .display4, .display5, .display6 {
	font-weight: 550;
}

.display1, .display2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.display3, .display4, .display5, .display6 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.display1 {
	font-size: 82px;
}

.display2 {
	font-size: 58px;
}

.display3 {
	font-size: 46px;
}

.display4 {
	font-size: 38px;
}

.display5 {
	font-size: 30px;
}

.display6 {
	font-size: 24px;
}

@media (max-width: 991px) {
	.display1 { font-size: 48px; }
	.display2 { font-size: 42px; }
	.display3 { font-size: 38px; }
	.display4 { font-size: 28px; }
	.display5 { font-size: 22px; }
	.display6 { font-size: 18px; }
}

/* Regular text weight */

.text-extrathin {
	font-weight: 200;
}

.text-thin {
	font-weight: 300;
}

.text-regular {
	font-weight: 400;
}

.text-bold {
	font-weight: 700;
}

/* Text alignment */

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

/* Text size */

.text-tiny {
	font-size: 0.75rem;
}

.text-small {
	font-size: 1rem;
}

.text-medium {
	font-size: 1.25rem;
}

.text-large {
	font-size: 1.75rem;
}

.text-mega {
	font-size: 2.5rem;
}

/* Text format */

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}