/*
 * Agility Design made by Mads T. Kristiansen, 2019.
 *
 * This file is part of Agility Design.
 *
 * Agility Design is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published
 * by the Free Software Foundation; either version 2 of the License,
 * or (at your option) any later version.
 *
 * Agility Design is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Agility Design. If not, see <http://www.gnu.org/licenses/>.
*/

* {
	box-sizing: border-box;
}

html {
	background-color: var(--default-page-background);
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

hr {
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: var(--colors-white);
}