/*
 * Agility Design made by Mads T. Kristiansen, 2019.
 *
 * This file is part of Agility Design.
 *
 * Agility Design is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published
 * by the Free Software Foundation; either version 2 of the License,
 * or (at your option) any later version.
 *
 * Agility Design is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Agility Design. If not, see <http://www.gnu.org/licenses/>.
*/

/*
	Radio and Checkboxes
 */

.switch {
	margin-bottom: 1em;
	height: 1.5rem;
}

.switch-input {
	position: absolute;
	margin-bottom: 0;
	opacity: 0;
}

.switch-paddle {
	position: absolute;
	width: 3rem;
	height: 1.5rem;

	cursor: pointer;
	padding: 0.125rem;
	border-radius: 0.75rem;
	transition: all 0.25s;
}

.switch-paddle .switch-knob {
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;

	margin-top: 0.05rem;
	border-radius: 0.6rem;
	background-color: var(--colors-white);
	background-size: cover;
	transition: all 0.25s;
}

input[type="checkbox"]:not(:checked) ~ .switch-paddle,
input[type="radio"]:not(:checked) ~ .switch-paddle {
	background-color: var(--unchecked-checkbox-background);
}

input[type="checkbox"]:checked ~ .switch-paddle,
input[type="radio"]:checked ~ .switch-paddle {
	background-color: var(--checked-checkbox-background);
}

input[type="checkbox"]:checked ~ .switch-paddle .switch-knob,
input[type="radio"]:checked ~ .switch-paddle .switch-knob {
	margin-left: calc(3rem - 1.2rem - 0.125rem - 0.125rem);
}

/*
	Text Fields
 */

input[type="text"],
input[type="email"],
input[type="password"] {
	transition: border 0.15s;
	border: 1px solid var(--colors-white);
	border-radius: 3px;
	padding-left: 0.5rem;
	font-size: inherit;
	line-height: 2;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	border: 1px solid var(--colors-blue);
}

/* Text field sizes */

input[type="text"].small,     .small input[type="text"],
input[type="email"].small,     .small input[type="email"],
input[type="password"].small, .small input[type="password"] {
	font-size: 0.75rem;
}

input[type="text"].medium,     .medium input[type="text"],
input[type="email"].medium,     .medium input[type="email"],
input[type="password"].medium, .medium input[type="password"] {
	font-size: 1rem;
}

input[type="text"].large, .large input[type="text"],
input[type="email"].large, .large input[type="email"],
input[type="password"].large, .large input[type="password"] {
	font-size: 1.25rem;
}

input[type="text"].mega, .mega input[type="text"],
input[type="email"].mega, .mega input[type="email"],
input[type="password"].mega, .mega input[type="password"] {
	font-size: 1.5rem;
}

/* Text Field colors */

input[type="text"].black:focus, .black input[type="text"]:focus,
input[type="email"].black:focus, .black input[type="email"]:focus,
input[type="password"].black:focus, .black input[type="password"]:focus {
	border: 1px solid var(--colors-black);
}

input[type="text"].white:focus, .white input[type="text"]:focus,
input[type="email"].white:focus, .white input[type="email"]:focus,
input[type="password"].white:focus, .white input[type="password"]:focus {
	border: 1px solid var(--colors-white);
}

input[type="text"].red:focus, .red input[type="text"]:focus,
input[type="email"].red:focus, .red input[type="email"]:focus,
input[type="password"].red:focus, .red input[type="password"]:focus {
	border: 1px solid var(--colors-red);
}

input[type="text"].green:focus, .green input[type="text"]:focus,
input[type="email"].green:focus, .green input[type="email"]:focus,
input[type="password"].green:focus, .green input[type="password"]:focus {
	border: 1px solid var(--colors-green);
}

input[type="text"].yellow:focus, .yellow input[type="text"]:focus,
input[type="email"].yellow:focus, .yellow input[type="email"]:focus,
input[type="password"].yellow:focus, .yellow input[type="password"]:focus {
	border: 1px solid var(--colors-yellow);
}

input[type="text"].blue:focus, .blue input[type="text"]:focus,
input[type="email"].blue:focus, .blue input[type="email"]:focus,
input[type="password"].blue:focus, .blue input[type="password"]:focus {
	border: 1px solid var(--colors-blue);
}

input[type="text"].magenta:focus, .magenta input[type="text"]:focus,
input[type="email"].magenta:focus, .magenta input[type="email"]:focus,
input[type="password"].magenta:focus, .magenta input[type="password"]:focus {
	border: 1px solid var(--colors-magenta);
}

input[type="text"].cyan:focus, .cyan input[type="text"]:focus,
input[type="email"].cyan:focus, .cyan input[type="email"]:focus,
input[type="password"].cyan:focus, .cyan input[type="password"]:focus {
	border: 1px solid var(--colors-cyan);
}

/*
	Input Groups
 */

.input-group {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	font-size: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.input-group .prefix,
.input-group .suffix {
	color: var(--colors-black);
	background-color: var(--colors-bright-white);
	background-size: cover;
	display: flex;
	display: -webkit-flex;
}

.input-group .suffix {
	margin-left: 2px;
}

.input-group .prefix :not(.btn-group):not(.btn),
.input-group .suffix :not(.btn-group):not(.btn) {
	font-size: inherit;
	padding: 0.375rem 1rem;
	vertical-align: middle;
}

.input-group .prefix:not(:first-child),
.input-group .suffix:not(:last-child),
.input-group *:not(:first-child),
.input-group *:not(:last-child) {
	border-radius: 0px;
}

.input-group *:first-child:not(:last-child) {
	border-radius: 3px 0px 0px 3px;
}

.input-group :last-child:not(:first-child),
.input-group *:last-child .btn-group input.btn:last-child {
	border-radius: 0px 3px 3px 0px;
	margin-top: 0;
	margin-bottom: 0;
}

.input-group > .prefix > .btn-group {
	padding-right: 2px;
	margin-left: 2px;
}

.input-group.small  { font-size: 0.75rem; }
.input-group.medium { font-size: 1.0rem; }
.input-group.large  { font-size: 1.2rem; }
.input-group.mega   { font-size: 1.5rem; }