/*
 * Agility Design made by Mads T. Kristiansen, 2019.
 *
 * This file is part of Agility Design.
 *
 * Agility Design is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published
 * by the Free Software Foundation; either version 2 of the License,
 * or (at your option) any later version.
 *
 * Agility Design is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Agility Design. If not, see <http://www.gnu.org/licenses/>.
*/

/*
	Navbar Menu
 */

 div.menu {
	display: flex;
}

div.menu a {
	text-decoration: none !important;
	padding: 0.5rem 1rem;
	position: relative;
}

div.menu-auto {
	width: 100%;
}

div.menu-auto > * {
	flex: 1 1 auto;
	text-align: center;
}

div.menu-left {
	float: left;
}

div.menu-center:not(.menu-auto) {
	display: table;
	width: 100%;
	text-align: center;
}

div.menu-center:not(.menu-auto) a {
	text-align: center;
	width: 100%;
	display: block;
}

div.menu-right {
	float: right;
}

div.menu-fixed {
	position: fixed;
	z-index: 99;
}

@media (min-width: 777px) {
	div.menu:not(.menu-auto) a {
		display: inline;
	}
}

/*
	Navbar
 */

.navbar {
	display: block;
	width: 100%;
	height: 3.5rem;
	top: 0;
	left: 0;
	color: var(--colors-black);
	background-color: var(--colors-white);
	z-index: 99;
}

.navbar-item {
	flex: 0 1 auto;
	padding: 1rem 1.5rem;
	vertical-align: middle;
}

.navbar a {
	transition: color 0.15s;
	color: var(--colors-black);
	display: block;
}

.navbar a:hover {
	color: var(--colors-dark-black);
}

.navbar img.icon {
	display: inline-block;
	white-space: nowrap;
	margin: 0.5rem;
	height: calc(100% - 1rem);
	width: auto;
}

/* Navbar styles */

.navbar-fixed {
	position: fixed;
}

.navbar-auto .navbar-item {
	flex: 1 1 auto;
	text-align: center;
}

.navbar .navbar-item.active {
	color: var(--colors-dark-black);
}

.navbar .navbar-item.disabled {
	color: var(--colors-dark-white);
}

.navbar a.disabled:hover {
	color: var(--colors-dark-white);
	cursor: not-allowed;
}

/* Navbar sizes */

@media (min-width: 577px) {
	.navbar-small:not(.vertical) {
		display: flex;
	}

	.navbar-small:not(.navbar-auto):not(.vertical) .navbar-item {
		flex: 0 0 auto;
	}

	.navbar-small:not(.navbar-auto):not(.vertical) a {
		display: flex;
	}
}

@media (min-width: 777px) {
	.navbar-medium:not(.vertical) {
		display: flex;
	}

	.navbar-medium:not(.navbar-auto):not(.vertical) .navbar-item {
		flex: 0 0 auto;
	}

	.navbar-medium:not(.navbar-auto):not(.vertical) a {
		display: flex;
	}
}

@media (min-width: 993px) {
	.navbar-large:not(.vertical) {
		display: flex;
	}

	.navbar-large:not(.navbar-auto):not(.vertical) .navbar-item {
		flex: 0 0 auto;
	}

	.navbar-large:not(.navbar-auto):not(.vertical) a {
		display: flex;
	}
}

@media (min-width: 1201px) {
	.navbar-mega:not(.vertical) {
		display: flex;
	}

	.navbar-mega:not(.navbar-auto):not(.vertical) .navbar-item {
		flex: 0 0 auto;
	}

	.navbar-mega:not(.navbar-auto):not(.vertical) a {
		display: flex;
	}
}

/*
	Navbar colors
 */

/* Color all colored navbars, that aren't white. */
.navbar[class *= "navbar-"]:not(.navbar-white),
.navbar[class *= "navbar-"]:not(.navbar-white) a {
	color: var(--colors-white);
}

.navbar[class *= "navbar-"]:not(.navbar-white) a:hover,
.navbar[class *= "navbar-"]:not(.navbar-white) .navbar-item.active,
.navbar[class *= "navbar-"]:not(.navbar-white) a.disabled:hover,
.navbar[class *= "navbar-"]:not(.navbar-white) .navbar-item.disabled {
	color: var(--colors-dark-white);
}

/* Color schemes */

.navbar-black   { background-color: var(--colors-black); }
.navbar-red     { background-color: var(--colors-red); }
.navbar-green   { background-color: var(--colors-green); }
.navbar-yellow  { background-color: var(--colors-yellow); }
.navbar-blue    { background-color: var(--colors-blue); }
.navbar-magenta { background-color: var(--colors-magenta); }
.navbar-cyan    { background-color: var(--colors-cyan); }
